$white: #fff;
$black: #000;
$grey: #bbafaf;
$primary-blue: #215184;
$font-color: #545454;
$font-family: "Brandon Grotesque", Arial, Helvetica, sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;
$transition: 0.25s ease;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1300px;
$breakpoint-tablet: 840px;
